<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>번역 : 자바 스크립트 작동 방식 : V8엔진 내부 + 최적화된 코드를 작성하는 방법에 대한 5가지 팁</title>
    
    <style>
        .article {
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="article">
    <a href="https://blog.sessionstack.com/how-javascript-works-inside-the-v8-engine-5-tips-on-how-to-write-optimized-code-ac089e62b12e">원문보기</a>
    
    <br>
    /? ?/ 번역이 아리송한것들...<br>
    ** 타이틀(굵은 글씨)<br>
    <br>
    
    <h2>자바 스크립트 작동 방식 : V8엔진 내부 + 최적화된 코드를 작성하는 방법에 대한 5가지 팁</h2>
    
    <p>
        몇 주 전에, 자바스크립트를 깊이 파고 실제로 어떻게 작동하는지를 목표로하는 시리즈를 시작했습니다.
        자바스크립트를 블락 단위로 구성하는 방법과 그리고 그 블락이 어떻게 동작하는지 알면 더 나은 코드와 앱을 제작할 수 있다고 생각합니다.
    </p>
    
    <p>
        첫번째 시리즈 물은 런타임과 콜스택에 대한 엔진에 관한 것들을 제공하는데 목적이 있었습니다.
        이 두번째 포스팅은 구글의 V8 자바스크립트 엔진의 내부 구성에 대해 파고들것 입니다.
        또한 더 나은 자바스크립트 코드를 작성하는 몇가지 빠른 팁을 제공할 것입니다.
        SessionStack에서 우리 개발팀이 제품을 만들때 따라야 할 최상의 방법들이다.
    </p>
    
    <h3>개요</h3>
    
    <p>
        자바스크립트 엔진은 자바스크립트를 실행하는 프로그램 또는 인터프리터 입니다.
        이 엔진은 표준 인터프리터로 구현될 수 있습니다. 또는어떤 형태로든 바이트코드로 컴파일 하는 JIT(Just-In-Time)컴파일러로 구현될 수 있습니다.
    </p>
    
    <p>
        위키백과 참조) JIT(Just-In-Time)? 프로그램을 실제 실행하는 시점에 기계어로 번역하는 컴파일 기법. 프로그램의 속도를 빠르게 하기 위해 사용.<br>
        전통적인 입장에서 컴퓨터 프로그램을 만드는 방법은 두가지가 있는데 인터프리터 방식과 정적 컴파일 방식으로 나눌 수 있다.
        이 중 인터프리터 방식은 실행중 프로그래밍 언어를 읽어가면서 해당 기능에 대응하는 기계어 코드를 실행하며, 반면 정적컴파일은 실항하기 전에 프로그램 코드를 기계어로 번역한다.<br>
        JIT 컴파일러는 두 가지의 방식을 혼합한 방식으로, 실행 시점에서 기계어 코드를 생성하면서 그 코드를 캐싱하여, 같은 함수가 여러 번 불릴 때 매번 기계어 코드를 생성하는 것을 방지한다.<br>
        최근 자바 가상 머신과 .NETm  V8에서 JIT 컴파일을 지원한다. 즉, 자바 컴파일러가 자바 프로그램 코드를 바이트코드로 변환한 다음, 실제 바이트코드를 실행하는 시점에서 가상 머신이 바이트 코드를 기계어로 변환한다.
    </p>
    
    <p>
        다음은 자바스크립트 엔진을 구현하는 인기있는 프로젝트 목록입니다.
    </p>
    
    
    <ul>
        <li>
            <b>V8 </b> -  구글에서 개발한 C++로 작성된 오픈소스
        </li>
        <li>
            <b>Rhino </b> - Mozilla Foundation에서 관리하는 오픈소스. 완전히 Java로 개발되었다.
        </li>
        <li>
            <b>SpiderMonkey  </b> - 옛날 넷스케이프 네이게이터를 구동한 최초의 자바스크립트 엔진, 그리고 오늘날에 FireFox를 구동시킨다.
        </li>
        <li>
            <b>JavaScriptCore </b> - 오픈소스, 사파리용으로 애플에서 개발된 'Nitro'란 이름으로 내놓았다.
        </li>
        <li>
            <b>KJS </b> - HarriPorten이 개발한 KDE 프로젝트의 Konqueror 웹 브라우저 용으로 개발한 KDE 엔진
        </li>
        <li>
            <b>Chakra (JScript9)  </b> - 인터넷 익스플로러
        </li>
        <li>
            <b>Chakra (JavaScript) </b> - Microsoft Edge Nashorn, 오라클 자바 언어와 도구 그룹에서 작성된 OpenJDK의 일부인 오픈 소스
        </li>
        <li>
            <b>JerryScript </b> - 사물 인터넷(IoT)를 위한 경량 엔진
        </li>
    </ul>
    
    <h3>V8 엔진은 왜 만들어졌을까?</h3>
    
    <p>
        V8 엔진은 구글이 만든 오픈소스이며 C++로 작성되어져 있습니다.
        이 엔진은 구글 크롬 내에서 사용되고 있습니다.
        그러나 나머지 엔진들과 달리, 또한 많은 사람들이 쓰고있는 Node.js 런타임에도 사용되고 있습니다.
    </p>
    
    <p>
        V8은 웹 브라우저 내에서 자바스크립트 실행 성능을 증가시키기 위해 처음 설계되었습니다.<br>
        속도를 얻기 위해, V8은 자바스크립트 코드를 인터프리터를 사용하는 대신에 더 많은 효율적인 기계 코드로 변환합니다.<br>
        SpiderMonkey또는 Rhino(모질라)와 같이 많은 모던 자바스크립트 엔진과 같은 JIT(Just-In-Time) 컴파일러를 구현함으로써 자바스크립트 코드를 기계 코드로 컴파일 합니다.<br>
        이들과 중요한 차이점은 V8이 어떠한 중간 코드 또는 바이트코드를 생산하지 않는다는 것입니다.
    </p>
    
    <h3>V8 used to have two compilers</h3>
    
    <p>Before version 5.9 of V8 came out (released earlier this year), the engine used two compilers:</p>
</div>
</body>
</html>