<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>번역 : 자바스크립트 작동 원리 : 메모리 관리 + 4가지 일반적인 메모리 누수를 다루는 방법</title>
    
    <style>
        .article {
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="article">
    <a href="https://blog.sessionstack.com/how-javascript-works-memory-management-how-to-handle-4-common-memory-leaks-3f28b94cfbec">원문보기</a>
    
    <br>
    /? ?/ 번역이 아리송한것들...<br>
    ** 타이틀(굵은 글씨)<br>
    <br>
    
    <h2>자바 스크립트 작동 방식 : 메모리 관리 + 4가지 일반적인 메모리 누수를 다루는 방법</h2>
    
    <p>
    몇 주 전부터, 자바스크립트를 깊이 파고 실제로 어떻게 작동하는지를 목표로하는 시리즈를 시작했습니다.
    자바스크립트를 블락 단위로 구성하는 방법과 그리고그 블락이 어떻게 동작하는지 알면 더 나은 코드와 앱을 제작할 수 있다고 생각합니다.
    </p>
    
    <p>
    <a href="https://blog.sessionstack.com/how-does-javascript-actually-work-part-1-b0bacc073cf" target="_blank">첫번째 시리즈 물</a>>에 엔진, 런타임, 호출 스택(Call Stack)에 대한 정보를 제공하는데 중점을 두었습니다.
    <a href="https://blog.sessionstack.com/how-javascript-works-inside-the-v8-engine-5-tips-on-how-to-write-optimized-code-ac089e62b12e" target="_blank">두번째 시리즈 물</a>에는 구글의 V8 자바스크립트 엔진 내부에 대해서 면밀히 조사하였습니다.
    또한, 더 나은 자바스크립트 코드 작성하는 방법에 대한 몇가지 팁을 제공합니다.
    </p>
    
    <p>
    세번째 게시물에서, 개발자들이 항상 등한시하게 되는 또다른 중요한 주제를 논의할 것입니다.
    프로그래밍 언어의 성숙도와 복잡성의 증가에 따라, 매일 메모리 관리가 사용되고 있습니다.
    또한 자바스크립트에서 메모리 누스를 다루는 방법에 대한 몇 가지 팁을 제공합니다.
    /?
    SessionStack에서 다음과 같이 얘기합니다.
    우리는 반드시 SessionStack은 메모리 누수를 야기시지 않도록 하거나, 통합 웹앱 환경에서 메모리 소비가 증가하지 않도록 해야합니다.
    ?/
    </p>
    
    <h3>개요</h3>
    
    <p>
    C와 같은 언어는 malloc()과 free()처럼 저수준(Low-Level)의 원시형(primitives) 메모리 관리를 가집니다.
    이 원시형들은 개발자들에 의해 명시적으로 할당하고 운영 체제에서 메모리를 해제하는데 사용됩니다.
    </p>
    
    <p>
    동시에, 자바스크립트는 메모리를 할당합니다.
    객체들(objects), 문자열들(strings) 등과 같은 것들이 생성되고
    더이상 사용되지 않으면 가비지 컬렉션이라 불리우는 프로세스에 할당된 메모리를 "자동적으로" 해제합니다.
    
    겉보기에 "자동적으로" 해소된 것 처럼 보이는 자원의 본질은 혼란의 근원입니다.
    
    그리고, 자바스크립트(및 다른 고수준(High-Level) 언어) 개발자들은 메모리 관리에 대해 신경쓰지 않기로 선택할 수있는잘못된 인상을 줍니다.
    
    이렇게 하는 것은 큰 실수입니다.
    </p>
    
    <p>
    고급 언어로 작업할 때에도, 개발자들은 메모리 관리(또는 최소한의 기본사항)에 대하여 이해를 가져야만 합니다.
    
    때때로 자동 메모리 관리에 문제가 있습니다. (가비지 컬렉터의 버그 또는 /? 구현?실행 ?/ 제약사항 등과 같은)
    
    개발자들은 이를 제대로 처리하기 위해 이해해야하만 합니다.(또는 적절한 최소한의 trade off와 Code Debt와 와 같은 제2의 해결책 찾아야 합니다.)
    </p>
    
    <h3>메모리 생명 주기(Memory Life Cycle)</h3>
    
    <p>
    당신이 어떤 프로그래밍 언어를 사용하든, 메모리 생명주기는 항상 같습니다.
    </p>
    
    [이미지 삽입]
    메모리 할당 -> 메모리 사용 -> 메모리 해제 /?(release-놓아주다)?/
    
    <p>
    생명주기의 각 단계에서 일어나는 사항은 다음과 같습니다.
    </p>
    
    <ul>
        <li>
            <p>
                <b>메모리 할당(Allocate memory)</b>
                - 메모리는 당신의 프로그램이 사용할 수 있도록 운영체제에 의해 할당됩니다.
                C와 같은 저수준 언어에서는 개발자가 처리해야하는 명시적인 작업니다.
                그러나, 고급 언어에서는 이러한 것들이 잘 처리됩니다.
            </p>
        </li>
        <li>
            <p>
                <b>메모리 사용(Use memory)</b>
            </p>
        </li>
        <li>
            <p>
                <b>메모리 해제(Release memory)</b>
            </p>
        </li>
    </ul>
    
    <a>
        호출 스택(call stack)과 메모리 힙(memory heap) 개념의 대한 간단한 개요를 보시려면, <a href="https://joshua1988.github.io/web-development/translation/javascript/how-js-works-inside-engine/" target="_blank">첫번째 게시물(한글 번역본)</a>을 읽어보십시오.
    </p>
    
    
    
    

</div>
</body>
</html>
